<ion-header>
    <ion-toolbar color="ugreen">

        <ion-buttons slot="start" >
            <ion-back-button color="light" defaultHref="/monedero" ></ion-back-button>
        </ion-buttons>

        <ion-title color="light">Historial de Cobros</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-list>
        <ion-card >
            <ion-card-header>
                <ion-card-title>
                    <h1>Reintegros Activos:</h1>
                </ion-card-title>
            </ion-card-header>
            <ion-item *ngFor="let reintegroactivo of reintegrosActivos">
                <ion-icon slot="start" name="flag-outline">
                </ion-icon>
                <ion-label>
                    Fecha: {{reintegroactivo.fecha.day}}/{{reintegroactivo.fecha.month}}/{{reintegroactivo.fecha.year}}
                </ion-label>
                <br>
                <ion-label>
                    Motivo: {{reintegroactivo.referencia}}
                </ion-label>
                <ion-button fill="clear" (click)="pagoTarjeta(reintegroactivo)">
                    <ion-icon slot="end" color="success" name="card-outline"></ion-icon>
                </ion-button>
                <ion-button fill="clear" (click)="pagoCuenta(reintegroactivo)">
                    <ion-icon slot="end" color="warning" name="journal-outline"></ion-icon>
                </ion-button>
                <ion-button fill="clear" (click)="onClick(reintegroactivo.idReintegro)">
                    <ion-icon slot="end" color="danger" name="close-circle-outline"></ion-icon>
                </ion-button>
            </ion-item>
        </ion-card>

        <ion-card >
            <ion-card-header>
                <ion-card-title>
                    <h1>Reintegros Cancelados:</h1>
                </ion-card-title>
            </ion-card-header>
            <ion-item *ngFor="let reintegrocancelado of reintegrosCancelados" >
                <ion-icon slot="start" name="close-outline">
                </ion-icon>
                <ion-label>
                    Fecha: {{reintegrocancelado.fecha.day}}/{{reintegrocancelado.fecha.month}}/{{reintegrocancelado.fecha.year}}
                </ion-label>
                <br>
                <ion-label>
                    Motivo: {{reintegrocancelado.referencia}}
                </ion-label>
            </ion-item>
        </ion-card>

        <ion-card >
            <ion-card-header>
                <ion-card-title>
                    <h1>Reintegros Exitosos:</h1>
                </ion-card-title>
            </ion-card-header>
            <ion-item *ngFor="let reintegrosexitoso of reintegrosExitosos" >
                <ion-icon slot="start" name="checkmark-outline">
                </ion-icon>
                <ion-label>
                    Fecha: {{reintegrosexitoso.fecha.day}}/{{reintegrosexitoso.fecha.month}}/{{reintegrosexitoso.fecha.year}}
                </ion-label>
                <br>
                <ion-label>
                    Motivo: {{reintegrosexitoso.referencia}}
                </ion-label>
            </ion-item>
        </ion-card>

    </ion-list>
</ion-content>
