<ion-app>
  <ion-menu side="start" menuId="first" contentId="content1">
    <ion-header>
      <ion-toolbar color="uyellow">
        <ion-title>Opciones</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content>
      <ion-list >

        <ion-menu-toggle  auto-hide="false" class="menu-opcion" >
          <ion-item [routerLink]="['/cobros']" routerDirection="forward">
            <ion-icon name="list-outline" slot="start" ></ion-icon>
            Historial Cobro
          </ion-item>
          <ion-item [routerLink]="['/aprobar-reintegro']" routerDirection="forward">
            <ion-icon name="reload-outline" slot="start" ></ion-icon>
            Reintegros
          </ion-item>
          <ion-item [routerLink]="['/solicitar-pago']" routerDirection="forward">
            <ion-icon name="cash-outline" slot="start" ></ion-icon>
            Realizar cobro
          </ion-item>
          <ion-item [routerLink]="['/billetera']" routerDirection="forward">
            <ion-icon name="wallet-outline" slot="start" ></ion-icon>
            Billetera
          </ion-item>
          <ion-item [routerLink]="['/perfil']" routerDirection="forward">
            <ion-icon name="person-outline" slot="start" ></ion-icon>
            Perfil
          </ion-item>
        </ion-menu-toggle>

      </ion-list>
    </ion-content>
  </ion-menu>
  <ion-router-outlet id="content1"></ion-router-outlet>
</ion-app>
